<!DOCTYPE html>
<html lang="en">
<head lang="ko" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<!--    <p th:text="${test}"></p>-->
    <h1>게시판</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/url" role="button" class="btn btn-primary">글 등록</a>
            </div>
        </div>
    </div>
</body>
</html>