<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/header :: main-head"><title>게시판</title></head>
<body>
<!--    <p th:text="${test}"></p>-->
    <h1>게시판</h1>
    <div class="col-md-12" th:fragment="main-body">
        <div class="row">
            <div class="col-md-6">
                <a href="/saveBoard" role="button" class="btn btn-primary">글 등록</a>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${boardList}">
                    <td><span th:text="${board.id}"></span></td>
                    <td><a th:href="@{/updateBoard/{id}(id = ${board.id})}"><span th:text="${board.title}"></span></a></td>
                    <td><span th:text="${board.content}"></span></td>
                    <td><span th:text="${board.author}"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>