<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: main-head">
    <title>Title</title>
</head>
<body>
    <table>
        <tbody>
        <tr th:object="${board}">
            <td><input type="text" readonly th:value="${board.id}"></td>
            <td><input type="text" id="title" th:value="${board.title}"></td>
            <td><input type="text" id="content" th:value="${board.content}"></td>
            <td><input type="text" th:value="${board.author}" readonly></td>
        </tr>
        </tbody>
    </table>
</body>
</html>